/.vscode/
/pkg/
/src/

code-insider-*.tar.gz
code_*_*.tar.gz
visual-studio-code-insiders-*.pkg.tar.*
visual-studio-code-insiders.db
visual-studio-code-insiders.db.tar.*
visual-studio-code-insiders.files
visual-studio-code-insiders.files.tar.*
