pkgbase = visual-studio-code-insiders
	pkgdesc = Editor for building and debugging modern web and cloud applications (insiders version)
	pkgver = 1.86.0_insider+1706238091
	pkgrel = 1
	url = https://code.visualstudio.com/
	arch = x86_64
	license = custom: commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	source_x86_64 = code_insider_x64_1706238091.tar.gz::https://update.code.visualstudio.com/latest/linux-x64/insider
	source_x86_64 = visual-studio-code-insiders.desktop
	source_x86_64 = visual-studio-code-insiders-url-handler.desktop
	source_x86_64 = visual-studio-code-insiders.sh
	sha256sums_x86_64 = c7360cdf0016a08cdd620bd3e72dd1fd338ffd46ea33f85602dd1ffa3921d4f7
	sha256sums_x86_64 = acff0a89299c65b70bae82925627a885c16ff13910e1d1e9b791146e0a599306
	sha256sums_x86_64 = 0af52e8fb02b9777ee9736ed9ff38eb4cac3f2e9687f21f5fce49d215d38bbe1
	sha256sums_x86_64 = a1b05c4dbab7167b09cb8f9d680600b3f517dea6c3696ac9d84f1566f70c4b8d

pkgname = visual-studio-code-insiders
